
/******************
* Layout
******************/
.container,
.container-fluid {
  max-width: 660px
}

.oponent-window,
.player-window {
  font-size: 9em;
  text-align: center;
}

.btn-group-lg>.btn, .btn-lg {
  font-size: 5em;
}

/******************
* Theme
******************/

.main-content { background: none;}

.btn-default:hover,
.btn-default.focus,
.btn-default:focus,
.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    background-color: #F9FFA4;
}
