
/******************
* Layout
******************/
.container,
.container-fluid {
  max-width: 660px
}

.oponent-window,
.player-window {
  font-size: 15rem;
  text-align: center;
}

.btn-group-lg>.btn, .btn-lg {
  font-size: 5em;
}

/******************
* Theme
******************/

.main-content { background: none;}