
/******************
* Layout
******************/
.container {
  max-width: 800px;
}

.oponent-window,
.player-window {
  font-size: 15rem;
  text-align: center;
}
/******************
* Theme
******************/

.main-content { background: none;}